body {
  text-align: center;
  margin: 10px;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Helvetica Neue", Arial, sans-serif;
  font-size: 1.4rem;
}
#img-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 5px auto;
  border-radius: 10px;
  box-shadow: 0 0 10px 1px;
}
h1 {
  margin: 0;
}
h6 {
  margin: 10px;
}
#img-caption {
  margin-top: 10px;
  text-align: justify;
  font-size: 1rem;
}
#tribute-info {
  text-align: justify;
}

@media (max-width: 768px) {
  /* Adjust font size for smaller screens */
  body,
  h6,
  #img-caption,
  #tribute-info {
    font-size: 80%;
  }
  #img-caption {
    width: 80%;
  }

  /* Adjust image size for smaller screens */
  img {
    max-width: 80%;
  }
}
